.site-main{
    background-color: #001A27;
}

// titre du cours - article
.entry-title{ // titre des articles
    margin-right: 35vw;
    padding-left: 4vw;
    font-size: clamp(.7rem, #{"-.8rem + 8.333vw"}, 1.3rem);
    color: rgb(100, 213, 238);
    border-bottom: 3px solid;
    a{
        text-decoration: none ;
        color: rgb(100, 213, 238);
        &:hover{color: rgb(91, 191, 213);}
    }

    @include media-tablette{
        font-size: clamp(1rem, #{"-.8rem + 8.333vw"}, 1.6rem);
    }
} // fin entry title

.post-thumbnail{
    box-sizing: border-box;
    padding: 4%;
    img{
        border-radius: 3px;
    }
}

.entry-content{ // les articles des cours 
    width: 90vw;
    margin: 0 auto;
    border-radius: 20px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: clamp(.9rem, #{"-.8rem + 8.333vw"}, 1.3rem);
    color: rgb(67, 169, 193);
    background: rgb(24, 54, 79);
    p{
        margin: 20px 0 20px 0px;
        font-weight: normal;
        width: 100%;
    }
    ul{
        margin: 10px 0;
        padding: 0;
        list-style-type: none;
    }

    .wp-block-image{
        align-self: center;
        margin: 0 0 0 0px;
    }
    img{
        padding-top: 15px;
        display: block;
        border-radius: 10px;
    }

    @include media-tablette{
        flex-direction: row;
        text-align: start;
        width: 70vw;
        margin: 0 0 0 4vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: clamp(.9rem, #{"-.8rem + 8.333vw"}, 1.3rem);
        .blocks-gallery-item figure{
            margin: 0 0 0 5%;
            width: 400px;
            height: 400px;
        }
        p{
            margin: 20px 5px;
        }
        ul{
            margin-right: 5vh;
            width: 150px;
        }
    }// fin media-desktop

}// fin .entry-content

.nav-links{
    justify-content: space-between;
    padding: 0 5%;
    // bouton suivant et precedent
    .nav-previous,.nav-next{
        display: flex;
        width: 110px;
        height: 40px;
        background-color: rgb(46, 226, 115);
        border-radius: 100px;
    }
    // texte dans suivant et precedent
    .nav-previous a,.nav-next a{
        font-weight: bold;
        align-self: center;
        margin:0 auto;
        text-decoration: none;
        color: white;
    }
}