.conteneurBoutNouvelle{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

.derniereNouvelles{
    display: flex;
    flex-direction: column;
    margin: 2px;

        #bout_nouvelles{
            height: 50px;
            width: 270px;
            margin: 1vh 0 0 0vw;
            border: none;
            background-color: rgb(97, 66, 189);
            color: white;
            border-radius: 2px;
            transition: all .1s;
            &:hover{
                transform: scale(101%);
                background-color: rgb(104, 70, 206);
                cursor: pointer;
            }
            &:focus{
                transform: scale(99%);
                background-color: rgb(86, 59, 160);
            }
        }
    }



}