.site-footer{
    width: 100vw;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: antiquewhite;

    .ligne-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        h2{
            text-align: center;
            color: black;
        }
        //calendrier
        #calendar-3{
            width: 300px;
            text-align: center;
            h2{
                margin-bottom: 10px;
            }
            // table contenant toutes les dates du calendrier
            #wp-calendar{
                margin-bottom: 0;

                td{
                    transition: all .35s;
                    background-color:antiquewhite;
                    &:hover{
                        transform: scale(101%);
                        opacity: 1;
                        border-radius: 10px;
                        background-color:rgb(240, 225, 205) ;
                    }
                }
            }

             // bouton bas du calendrier
            .wp-calendar-nav{
                display: flex;
                background-color: rgb(35, 88, 150);
                width: 75px;
                height: 35px;
                border-radius: 100px;
                text-align: center;
                margin-top: 5px;
                &:hover{
                    background-color: rgb(18, 37, 58);
                }
                span{
                    align-self: center;
                    a{ 
                        margin-left: 10px;
                        font-weight: bold;
                        text-decoration: inherit;
                        color: white ;
                    }
                }
            }
        }
        // barre de recherche
        #search-2{
            h2{
                font-size: clamp(.9rem, 5vw , 1.2rem);
            }
            // bare d'entre de texte
            .search-field{
                width: 200px;
                border-radius: 0px;
                background-color: antiquewhite;
                text-decoration: none;
                border-style: none;
                border-bottom: 2px solid #c24163;
                outline: none;
            }
            form{
                display: flex;
                justify-content: center;
            }
            //bouton
            input[type="submit"]{
                margin-left: 3vw;
                padding-top: -20px !important;
                border-radius: 100px;
                color: white;
                background-color: rgb(255, 76, 103);
                border-style: none;
                font-size: clamp(.8rem, 3vw , 1rem);
                height: 40px;
                width: 110px;
            }

            @include media-desktop{
                h2{
                    font-size: clamp(1rem, 2vw , 1.5rem);
                }
                .search-field{
                    width: 300px;
                    border-radius: 0px;
                }
                //bouton
                input[type="submit"]{
                    font-size: clamp(.8rem, 4vw , 1.1rem);
                    height: 40px;
                    width: 150px;
                }
            }
        }

        //conteneur image de mes projets
        #gallery-1{
            margin: 0 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        
            figure{
                width: inherit;
            }
            img{
                width: 25vw;
            }
        }
    }
    .ligne-footer:nth-child(2){
        h2{
            margin: 0 20px;
        }
    }

    @include media-tablette{
        //conteneur image de mes projets en tablette
        #gallery-1{
            img{
                width: 12vw !important;
            }
        }
    }
    .ligne-footer:nth-child(2){
        h2{
            margin: 0 20px;
        }
    }



}