// grand titre de section projet
.titreProjet{
    display: flex;
    width: 80vw;
    flex-direction: column;
    color: white;
    h1,p{
        margin: 0 auto;
        text-align: center;
    }
    h1{
        margin: 3% 0 10px 0;
    }
    p{
        margin-bottom: 3%;
    }
}
.galerie-frontPage{
    width: 100vw;

}
.galerie{
    width: 100vw;
}
@include media-tablette{
    .galerie{
        width: 78vw;
    }   
}



// section contenant tout projet
.galerie,.galerie-frontPage{
    background-color: rgb(36, 78, 119);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .article{
        // position: relative;
        display: flex;
        box-sizing: border-box;
        padding: 20px 10px 10px 10px;
        margin: 10px;
        width: 200px;
        text-align: center;
        justify-content: center;
        transition: all .2s ease-out;

        a{
            position: relative;
        }
        a img{
            transition: all .2s ease-out;
            border-radius: 10px;
        }

        // titre projet
        .galerie_info{
            z-index: 2;
            transition: .3s all ease-in;
            position:absolute;
            margin-top: 50px;
            font-size: clamp(.5rem, #{"-.8rem + 8.333vw"}, 1rem);
            color: black;
            opacity: 0;
            font-weight: bold;
            &:hover{
                cursor: pointer;
            }
        }

        // dos des projet
        span{
            transition: .2s all ease-out;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: rgb(240, 240, 240);
        }
        &:hover > a span{
            z-index: 1;
            opacity: 1;
            transform: rotateY(180deg) scale(105%);
            box-shadow: 0px 6px 3.7px rgba(0, 0, 0, 0.31);
        }

        // effet sur l'image de l'article
        &:hover > a img{
            transform: rotateY(90deg) scale(105%);
            opacity: 0;
        }
        // effet sur le texte de l'article
        &:hover > .galerie_info {
            opacity: 1;
        }
    }
}

// description des projets-perso
.description{
    display: flex;
    font-size: 1rem ;
    color: rgb(80, 80, 80);
    width: 60%;
    margin: 0 auto;
    font-weight: normal;
}