// grand titre de section prof
.titreProjet{
    display: flex;
    width: 80vw;
    flex-direction: column;
    color: white;
    h1,p{
        margin: 0 auto;
        text-align: center;
    }
    h1{
        margin: 3% 0 10px 0;
    }
    p{
        margin-bottom: 3%;
    }
}


// section contenant tout les profs
.prof{
    background-color: rgb(36, 78, 119);
    display: flex;
    width: 100vw;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    @include media-tablette{
        width: 78vw;
    }

    // section contenant tout les profs PROGRAMMATION
    .sectionProg{
        width: 85%;
        margin: 5vh 0;
        padding-left: 5vh;
        border-top: 5px solid rgb(0, 203, 0);
        border-bottom: 5px solid rgb(0, 203, 0);
        h1{
            letter-spacing: .5px;
            margin-top: 5px;
            color: rgb(0, 226, 91);
            text-shadow: 0px 4px 10px rgba(0, 203, 0, 0.762);
        }
        .contenuProg{
            display: flex;
            flex-wrap: wrap;
        }
        .article:hover > a img{
            box-shadow: 0px 6px 16px rgba(0, 203, 0, 0.712);
        }
    }

     // section contenant tout les profs CREATION
     .sectionCreation{
         width: 85%;
         margin: 3vh 0 10vh 0;
         padding-left: 5vh;
         border-top: 5px solid rgb(0, 211, 226);
         border-bottom: 5px solid rgb(0, 211, 226);
        h1{
            letter-spacing: .5px;
            margin-top: 5px;
            color: rgb(0, 211, 226);
            text-shadow: 0px 4px 10px rgba(0, 200, 203, 0.803);
        }
        .contenuCreation{
            display: flex;
        }
        .article, a , a img{
            width: 300px;
        }
        .article:hover > a img{
            box-shadow: 0px 6px 16px rgba(0, 200, 203, 0.625);
        }
    }

    // style general des cases profs
    .article{
        box-sizing: border-box;
        padding: 20px 10px 10px 10px;
        margin: 10px 4%;
        text-align: center;
        transition: all .2s ease-out;
        &:hover{
            transform: scale(102%);
            cursor: pointer;
        }
        a img{
            transition: all .2s ease-out;
            border-radius: 10px;
            width: 180px;
        }

        // nom prof
        .prof_info{
            z-index: 2;
            font-size: clamp(.8rem, #{"-.8rem + 8.333vw"}, 1.2rem);
            color: white;
        }
    }
}

// description des projets-perso
.description{
    display: flex;
    font-size: 1rem ;
    color: rgb(80, 80, 80);
    width: 60%;
    margin: 0 auto;
    font-weight: normal;
}